main {
    grid-area: main;
}

.posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 1.2rem 1.2rem;
}

.post-cover > img {
    height: auto;
    width: 100%;
}

.post{
    display: grid;
    grid-template-columns: 1fr;
}

.post{
    display: grid;
    grid-template-areas: "image"
    "content";
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding: 0.9rem;
}

.post-cover{
    grid-area: image;
    display: inline-block;
    overflow: hidden;
}

.post-content{
    display: grid;
    grid-template-areas: "title title"
    "description description"
    "date comments";
    grid-area:content;
}

.post-comments{
    grid-area:comments;
}
.post-date{
    grid-area: date;
}

.post-title{
    font-weight: 800;
    margin-bottom: .6rem;
    font-size: 1.3rem;
    grid-area:title;
}

.post{
    cursor: pointer;
}
.post-cover > img:hover{
    transform: scale(1.4);
    transition: all 0.5s ease;

}

.post-cover > img{
    border-radius: .5rem;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.post-date,
.post-comments{
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
}

.post:hover img {
    transform: scale(1.3);
}
.post-comments{
    justify-content: flex-end;
}
.post-date{
    justify-content: flex-start;
}

.post-description{
    grid-area: description;
    line-height: 1.1rem;
    max-height: 6.4rem;
    overflow: hidden;
    font-weight: 400;
    font-size: .9rem;
}

@media screen and (min-width: 769px){
    header {
        grid-area: header;
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "logo  title search socials "
        "logo  title   .    nav";
    }

    .header-search{
        transition: all 0.5s ease-in-out
    }
    .header-search:hover{
        transform: rotate(360deg);
        opacity: .65;
    }

    aside{
        max-width: 17rem;
    }

    body{
        display: grid;
        grid-template-areas: "header header header header header"
        "main main main main aside-top"
        "main main main main aside-bottom"
        "footer footer footer footer footer";
        align-content: center;
    }
    .posts-container{
        margin-right: 1rem;
    }
    .aside-author{
        grid-area: aside-top;
    }
    .aside-bottom{

        grid-area: aside-bottom;
    }
}

@media screen and (max-width: 768px){
    main{
        grid-area:main;
    }

    .posts-container{
        margin-right: 2rem;
    }

}
