* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
    background-color: inherit;
}

body{
    margin: 0 auto;
}

html{
    box-sizing: border-box;
    font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: calc(12px + 0.35vw);
}

ul,
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body{
    max-width: 1200px;
    display: inline;
    box-sizing: border-box;
    align-content: center;
}
li {
    display: inline-block;
}
.logo{
    display: block;
    min-height: 100px;
    height: 8rem;
}
main {
    grid-area: main;
}

footer{
    grid-area: footer;
}


.header {
    margin: 10px;
    box-shadow: 0 4px 2px -2px rgb(201, 75, 106);
    margin-bottom: 20px;
}
.social-item {
    margin: 5px;
}
.header-title {
    display: flex;
    justify-content: center;
    align-self: center;
    grid-area: title;
}
.header-nav-mobile a:hover{
    box-shadow: 0 4px 2px -2px gray;
}

.header-nav-mobile a{
    font-size: 1.2em;
}
.header-logo-link {
    grid-area: logo;
}

.header-socials {    
    display: flex;
    justify-content: flex-end;
    grid-area: socials;
    margin-right: 15px;
}


.header-search {
    display: flex;
    justify-content: flex-end;
    grid-area: search;
    margin: 10px;
}

.header-nav-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: nav;
    margin-right: 10px;
    height: auto; 
}

.header-nav-item {
    color: #000;
    font-size: 16px;
    line-height: 75px;
    padding: 0 1vw;
    position: relative;
    text-indent: 0;
    transition-duration: .15s;
    transition-property: color;
}

.header-menu-button,
label {
    display: none;
}

section {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 1.2rem 1.2rem;
}

.post-cover > img {
    height: auto;
    width: 100%;
}

.post{
    display: grid;
    grid-template-columns: 1fr;
}

aside{
    padding: .5rem;
    background-color: #e9f3f3;
    border-radius: 2rem;
}
.author-info{
    padding: 1.3rem;
}
.author-avatar{
    justify-self: center;
    border-radius: 1.5rem;
    width: 100%;
}

.author-about{
    font-size: 1.1rem;
    font-weight: 300;
}
.author-social-item{
    display: inline;
    margin: .4rem;
}
.author-socials{
    display: flex;
    margin-bottom: 1.1rem;
    justify-content: center;
}

.subscribe-section{
    padding: 1.1rem;
}

.subscribe-title{
    margin-bottom: 0.4rem;
}

.subscribe-button {
    width: 100%;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: #be0940;
    border-radius: 80px;
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    transition: all 0.4s ease;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}


.search-button{
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    background-color: #be0940;
    border-radius: 80px;
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    transition: all 0.4s ease;
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    
}
.aside-search{
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
}
.search-input{
    width: 70%;
    margin-bottom: 0.4rem;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
    color: #444;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 80px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.4s ease;
}


.subscribe-input{
    width: 100%;
    margin-bottom: 0.4rem;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
    color: #444;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 80px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.4s ease;
}

aside{
    padding: 1.1rem;
    margin:1.1rem;
}

.author-name{
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.tags-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.1rem;
}

.tag-item{
    margin-right: 0.4rem;
    padding: .5rem;
    margin-bottom: 0.4rem;
    border: solid 1px #be0940;
    border-radius: .5rem;
    background-color: white;
}

.tag-item:hover{
    border: 1px dashed currentColor;
}
.aside-bottom{
    grid-area: aside-bottom;
}
.aside-comments{
    padding: 1.1rem;
}

.comments-title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.comment-column{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comment-author-avatar{
    display: block;
    height: 25%;
    width: 25%;
    margin-right: 5%;
}

.comment-body{
    font-size: 0.9rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.aside-comment-item{
    background-color:white;
    border: 1px dashed #be0940;
    border-radius: .5rem;
    display: flex;
    padding: .2rem;
    flex-direction: row;
    margin-bottom: .7rem;
}

footer{
    max-width: none;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1.5rem;
    background-color: #be0940;
    color: #ffffff;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
    z-index: 2;

}
.footer-contacts{
    display: flex;
    flex-direction: column;
}
.footer-contacts-title{
    margin-bottom: .9rem;
}

.fa-calendar-alt{
    margin-right: .3rem;
}

.comment-date{
    display: flex;
    margin-right: .3rem;
    flex-direction: row;
    justify-content: flex-end;
    font-size: .6rem;
    font-weight: 200;
}
.footer-contacts-item{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    width: auto;
    display: list-item;
    color:#be0940;
    border-radius: .6rem;
    background-color:white;
}
.footer-logo .logo{
    background-color: transparent;
}

.footer-title{
    color:#be0940;
    background-color: transparent;
    font-size: 2rem;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-social-item > a > i{
    color:white;
    margin: .5rem;
}

.post{
    display: grid;
    grid-template-areas: "image"
    "content";
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding: 0.9rem;
}

.post-cover{
    grid-area: image;
    display: inline-block;
    overflow: hidden;
}

.post-content{
    display: grid;
    grid-template-areas: "title title"
    "description description"
    "date comments";
    grid-area:content;
}

.post-comments{
    grid-area:comments;
}
.post-date{
    grid-area: date;
}

.post-title{
    font-weight: 800;
    margin-bottom: .6rem;
    font-size: 1.3rem;
    grid-area:title;
}

.post{
    cursor: pointer;
}
.post-cover > img:hover{
    transform: scale(1.4);
    transition: all 0.5s ease;

}

.post-cover > img{
    border-radius: .5rem;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.post-date,
.post-comments{
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
}

.post:hover img {
    transform: scale(1.3);
}
.post-comments{
    justify-content: flex-end;
}
.post-date{
    justify-content: flex-start;
}

.post-description{
    grid-area: description;
    line-height: 1.1rem;
    max-height: 6.4rem;
    overflow: hidden;
    /* max-lines: 4;*/
    font-weight: 400;
    font-size: .9rem;
}

.social-item:hover,
.author-social-item:hover{
    opacity: .65;
}


.header-nav-item:hover{
    animation: color-change 4s infinite;
    border-radius: 2rem;
}
.footer-social-item:hover{
    opacity: .65;
}

.footer-contacts-item{
    padding: .3rem;
}

@keyframes color-change {
    0% { background-color: rgb(252, 185, 191); }
    50% { background-color: rgb(155, 157, 255); }
    100% { background-color: #be0940; }
}

@media screen and (min-width: 769px){
    header {
        grid-area: header;
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "logo  title search socials "
        "logo  title   .    nav";
    }

    .header-search{
        transition: all 0.5s ease-in-out
    }
    .header-search:hover{
        transform: rotate(360deg);
        opacity: .65;
    }

    aside{
        max-width: 17rem;
    }

    body{
        display: grid;
        grid-template-areas: "header header header header header"
        "main main main main aside-top"
        "main main main main aside-bottom"
        "footer footer footer footer footer";
        align-content: center;
    }
    .posts-container{
        margin-right: 1rem;
    }
    .aside-author{
        grid-area: aside-top;
    }
    .aside-bottom{

        grid-area: aside-bottom;
    }
}

@media screen and (max-width: 768px){
    header {
        grid-area: header;
        width: auto;
        display: grid;
        grid-template-areas: 
        "nav logo search";
    }

    aside{
        max-width: 30rem;
    }

    .header-socials,
    .header-title{
        display: none !important;
    }

    .header-nav-mobile{
        z-index: 100;
        justify-content: flex-start;
        align-items: center;
    }

    .header-nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 60vw;
    
        padding: 2rem 1rem;
        display: grid;
        grid-auto-rows: 3rem;
        align-items: center;
    
        background: #ffffff;
        transform: translateX(-100%);
        transition: transform 160ms linear;
        will-change: transform;
    }

    .header-menu-button + label {
        cursor: pointer;
        display: block;
    }
    
    .header-menu-button:checked + label {
        position: fixed;
        top: 0;
        left: 0;
    
        height: 100%;
        width: 100%;
    
        overflow: hidden;
    
        color: transparent;
        background: rgba(0, 0, 0, 0.3);
    }
    .header-menu-button:checked ~ .header-nav-list {
        transform: translateX(0);
    }

    .header-search{
        grid-area: search;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        align-self: center;
        margin-right: 1rem;
        overflow: hidden;
        
    }
    .header-search:hover{
        opacity: .65;
    }

    .header-logo-link{
        grid-area: logo;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header-nav-item {
        grid-area: nav;
    }

    .aside-top{
        grid-area: aside-top;
    }

    .aside-bottom{
        grid-area: aside-bottom;
        margin-bottom: 1rem !important;
    }

    main{
        grid-area:main;
    }
    

    .footer-title{
        display: none;
    }

    .footer-logo {
        align-items: center;
    }
    body{
        display: grid;
        grid-template-areas: "header"
        "aside-top"
        "main"
        "aside-bottom"
        "footer";
        align-content: center;
    }

    .aside-top,
    .aside-bottom{
        display: inline-block;
        zoom: 1;
        margin: 0 auto;
    }

    .posts-container{
        margin-right: 2rem;
    }

}



